<header>
  <ul>
    <li> <%= link_to "Shelters", "/shelters" %> </li>
    <li> <%= link_to "Pets", "/pets" %> </li>
  </ul>
</header>

<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h2>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit", id: "#{shelter.name.gsub(" ", "")}Edit" %>
  <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete, id: "#{shelter.name.gsub(" ", "")}Delete"%>
<% end %>
<br>
<br>
<br>
<%= link_to "New Shelter", "/shelters/new" %>
