<header>
  <ul>
    <li> <%= link_to "Shelters", "/shelters" %> </li>
    <li> <%= link_to "Pets", "/pets" %> </li>
  </ul>
</header>

<h1><%= @shelter.name %></h1>

<p>Address: <%= @shelter.address %> </p>
<p>City: <%= @shelter.city %> </p>
<p>State: <%= @shelter.state %> </p>
<p>Zip: <%= @shelter.zip %> </p>

<%= link_to "View #{@shelter.name}'s Pets", "/shelters/#{@shelter.id}/pets" %>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
