<h1><%= @shelter.name %> Pets for Adoption</h1>

<% @shelter_pets.each do |shelter_pet| %>
  <h2><%= shelter_pet.name %></h2>
  <%= image_tag(shelter_pet.image, alt: "A photo of #{shelter_pet.name}", size: "300") %>
  <li>Age: <%= shelter_pet.age %></li>
  <li>Sex: <%= shelter_pet.sex %></li>

  <%= link_to "Update Pet", "/shelters/#{@shelter.id}/pets/#{shelter_pet.id}/edit", id: "#{shelter_pet.name.gsub(" ", "")}Edit"%>
  <%= link_to "Delete Pet", "/shelters/#{@shelter.id}/#{shelter_pet.id}", method: :delete %>
<% end %>
<br><br><br>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
