<header>
  <ul>
    <li> <%= link_to "Home", root_path %> </li>
    <li> <%= link_to "Shelters", "/shelters" %> </li>
    <li> <%= link_to "Pets", "/pets" %> </li>
  </ul>
</header>

<h1><%= @pet.name %></h1>

<%= image_tag(@pet.image, alt: "A photo of #{@pet.name}", size: "300") %>
<ul>
  <li>Adoption status: <%= @pet.adoption_status %> </li>
  <li>Age: <%= @pet.age %></li>
  <li>Sex: <%= @pet.sex %></li>
</ul>
<p>About <%= @pet.name %>: <%= @pet.description %> </p>

<%= link_to "Update Pet", "/shelters/#{@shelter.id}/pets/#{@pet.id}/edit" %>
<%= link_to "Delete Pet", "/shelters/#{@shelter.id}/pets/#{@pet.id}", method: :delete %>
