<h1>Edit <%= @pet.name %> </h1>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, "#{@pet.name}" %> <br>
  <%= label_tag :image %>
  <%= text_field_tag :image, "#{@pet.image}" %> <br>
  <%= label_tag :description %>
  <%= text_field_tag :description, "#{@pet.description}" %> <br>
  <%= label_tag :age %>
  <%= number_field_tag :age, "#{@pet.age}" %> <br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, "#{@pet.sex}" %> <br>
  <%# <%= select_tag(:sex, options_for_select("Female", "Male")) %>  %>
  <%# change ^ to select_tag or radio buttons %>
  <% hidden_field :adoption_status, "#{@pet.adoption_status}" %>
  <%= submit_tag "Update" %>
<% end %>
